HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.env
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env /
system.md
task.md
data.md
walkthrough.md
filter.md
DATA_MODELS.md
BACKEND_SEARCH_FILTERS.md
API_STRUCTURE.md
implementation_plan.md
audit_report.md
architecture.md
commits.md
schema.md
